.button {
    background-color: var(--primary-color); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 100%;
  }

.text {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 0 8px;
    display: inline-block
}