.card {
    background-color: var(--bg-white);
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 14px;
}

.body {
    display: flex;
    margin-bottom: 12px;
}

.body img {
    max-width: 10rem;
    height: auto
}

.text {
    display: flex;
    flex-flow: column wrap;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.button {
    width: 100%;
}
